/** Font Variables **/ 
$default-font: 'Open Sans', sans-serif !important;
$secondary-font: 'Poppins', sans-serif !important;
$ibm-font: 'IBM Plex Sans', sans-serif;

/** Color Variables **/ 
$grey-color :#f2f4ff;
$default-color :#374afb;
$warning-color: #ffb822;
$success-color: #0abb87;
$danger-color: #fd397a;
$dark-grey: #8392a5;
/** Vertical Navbar #1e1e2d ***/
$dark-bg: #282838;
$second-dark-bg: #2d2d3e;
$icons-menu-bg: #39394e;