/** responsive **/
@include device(phone-only) {
  .hide-xs {
    display: none !important;
  }
  /** Header Navigation dropdowns ***/
  .navbar-dropdown {
    .ivu-select-dropdown {
      max-width: 100%;
      left: 0px !important;
      .ivu-dropdown-menu {
        max-width: 100%;
      }
    }
  }
}

@include device(tablet-portrait-up) {
  .hide-sm {
    display: none !important;
  }
}

@include device(tablet-landscape-up) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}